{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    <img class="prod_image" src="{{product.image.url}}" alt="{{product.name}}">
<!--                    <img src="{% static 'assets/images/single-product-02.jpg' %}" alt="">-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{product.name}}</h4>
                    <span class="price">{{product.price}}</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>{{product.description}}</span>
                    <div class="quantity-content">
                        <div class="left-content">
                            <h6>No. of Orders</h6>
                        </div>
                        <div class="right-content">
                            <div class="quantity buttons_added">
                                <input type="button" value="-" class="minus">
                                <input type="number" step="1" min="1" max="{{product_size.quantity}}" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
                                <input type="button" value="+" class="plus">
                            </div>
                        </div>
                    </div>
                   <form id="size-form" method="get">
                        {% csrf_token %}
                        <label for="size">Size:</label>
                        <select id="size" name="size">
                            <option value="">Choose Size</option>
                            {% for size_choice in sizes %}
                                <option value="{{ size_choice.0 }}">{{ size_choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <div class="total">
                        <p id="availability-message">
                                {% if product_size.quantity > 0 %}
                                    In stock: {{ product_size.quantity }}
                                {% else %}
                                    Out of stock
                                {% endif %}
                        </p>
                        <h4 id="total_price">Total: ${{ product.price }}</h4>
                        <div class="main-border-button"><a href="#">Add To Cart</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
{% endblock %}

{% block custom_css%}
<style>
    .section{
        margin-top: 30vh;
    }
    #product{
        margin-top: 150px;
    }
    .prod_image{
        margin-left: 5vw;
        max-width: 30vw;
        max-height: 80vh;
    }
</style>
{% endblock %}
{% block custom_scripts %}
<script>

</script>
<script>
    const sizeForm = document.getElementById('size-form');
    const availabilityMessage = document.getElementById('availability-message');

    // Слушаем событие изменения выбранного размера
    sizeForm.addEventListener('change', () => {
        const formData = new FormData(sizeForm);

        // Отправляем запрос AJAX для получения информации о наличии товара в соответствии с выбранным размером
        fetch(`/get_product_size_info/?product_id={{ product.id }}`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            // Обновляем надпись на основе ответа от сервера
            availabilityMessage.textContent = data.availability_message;
        })
        .catch(error => {
            console.error('Error:', error);
            availabilityMessage.textContent = 'Out of stock';
        });
    });
</script>
{% endblock %}