{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    <img class="prod_image" src="{{product.image.url}}" alt="{{product.name}}">
<!--                    <img src="{% static 'assets/images/single-product-02.jpg' %}" alt="">-->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{product.name}}</h4>
                    <span class="price">${{product.price}}</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>{{product.description}}</span>
                    <div class="quantity-content">
                        <div class="left-content">
                            <h6>No. of Orders</h6>
                        </div>

                    </div>
                   <div id="message-container"></div>
                   <form id="size-form" method="get">
                        {% csrf_token %}
                        <label for="size">Size:</label>
                        <select id="size" name="size">
                            <option value="">Choose Size</option>
                            {% for size_choice in sizes %}
                                <option value="{{ size_choice.0 }}">{{ size_choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </form>
                    <div class="total">
                        <p id="availability-message" style="font-weight: bold"></p>
                        <h4 id="total_price">Total: ${{ product.price }}</h4>
                        <div class="main-border-button">
                            <button class="add-to-cart-btn" data-product-id="{{ product.id }}">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <!-- ***** Product Area Ends ***** -->
    {% block subscribe %}
    {% endblock %}
{% endblock %}

{% block custom_css%}
<style>
    .section{
        margin-top: 30vh;
    }
    #product{
        margin-top: 150px;
    }
    .prod_image{
        margin-left: 5vw;
        max-width: 30vw;
        max-height: 80vh;
    }
    .main-border-button button{
        padding: 15px;
        border: 1px solid black;
        background-color: white;
    }
    .main-border-button button:hover{
        background-color: #848480;
    }
    #message-container{
        margin: 20px 0;
    }
</style>
{% endblock %}
{% block custom_scripts %}
<script>
document.addEventListener("DOMContentLoaded", function() {
    const addToCartButtons = document.querySelectorAll(".add-to-cart-btn");
    const messageContainer = document.getElementById("message-container");


    addToCartButtons.forEach(button => {
        button.addEventListener("click", function() {
            let IsInStock = document.getElementById("availability-message");
            if (IsInStock.textContent == "Out of stock") {
                alert("Item is out of stock")
            } else if(IsInStock.textContent == ""){
                alert("Please choose size")
            } else {
                const productSize = document.getElementById("size")
                const productId = this.getAttribute("data-product-id");
                addToCart(productId, productSize.value);
            }

        });
    });

    function addToCart(productId, productSize) {
        fetch(`/add_to_cart/${productId}&${productSize}`)
            .then(response => response.json())
            .then(data => {
                showMessage(data.message);
            });
    }
    function showMessage(message) {
        const messageElement = document.createElement("p");
        if (message == 'You have to sign in before adding item to cart'){
            alert(message)
        } else {
            messageElement.textContent = message;
            messageContainer.appendChild(messageElement);
            messageElement.style.color = "green";
            messageElement.style.fontWeight = "bold";
        }
    }
});
</script>
<script>
    const sizeForm = document.getElementById('size-form');
    const availabilityMessage = document.getElementById('availability-message');

    // Слушаем событие изменения выбранного размера
    sizeForm.addEventListener('change', () => {
        const formData = new FormData(sizeForm);

        // Отправляем запрос AJAX для получения информации о наличии товара в соответствии с выбранным размером
        fetch(`/get_product_size_info/?product_id={{ product.id }}`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
            },
        })
        .then(response => response.json())
        .then(data => {
            // Обновляем надпись на основе ответа от сервера
            availabilityMessage.textContent = data.availability_message;
            if (data.availability_message.includes("In stock")){
                availabilityMessage.style.color = "green"
            } else {
                availabilityMessage.style.color = "red"
            }
        })
        .catch(error => {
            console.error('Error:', error);
            availabilityMessage.textContent = 'Out of stock';
        });
    });
</script>

{% endblock %}