{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="dd-menu">
        <ul class="menu">
            <li class="dropdown">
                <button class="dropbtn">Clothes</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-sharp fa-light fa-shirt-long-sleeve" style="color: #000000;"></i>Outerwear</a>
                    <a href="#"><i class="icons fa-thin fa-shirt-tank-top" style="color: #000000;"></i>Shirts, tops, T-shirts</a>
                    <a href="#">Pants</a>
                    <a href="#">Shorts</a>
                    <a href="#"><i class="icons fa-thin fa-person-dress" style="color: #000000;"></i>Dresses</a>
                    <a href="#"><i class="icons fa-light fa-person-dress-simple" style="color: #000000;"></i>Skirts</a>
                </div>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Shoes</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-light fa-boot" style="color: #000000;"></i>Sneakers</a>
                    <a href="#"><i class="icons fa-sharp fa-light fa-boot-heeled" style="color: #000000;"></i>Loafers</a>
                    <a href="#"><i class="icons fa-sharp fa-regular fa-ski-boot" style="color: #000000;"></i>Keds</a>
                    <a href="#"><i class="icons fa-sharp fa-light fa-boot-heeled" style="color: #000000;"></i>Classic shoes</a>
                </div>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Accessories</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-light fa-watch"></i>Watches</a>
                    <a href="#"><i class="icons fa-light fa-ring" style="color: #000000;"></i>Rings</a>
                    <a href="#"><i class="icons fa-light fa-coin" style="color: #000000;"></i>Bracelets</a>
                    <a href="#"><i class="icons fa-light fa-glasses" style="color: #000000;"></i>Glasses</a>
                </div>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Perfume</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-thin fa-nose" style="color: #000000;"></i>Toilet water</a>
                    <a href="#"><i class="icons fa-thin fa-nose" style="color: #000000;"></i>Сologne</a>
                    <a href="#"><i class="icons fa-thin fa-nose" style="color: #000000;"></i>Perfume</a>
                </div>
            </li>
        </ul>
    </div>
<hr style="color: #000; width: 80%">
    <h2 class="popular">Popular</h2>
    <div class="catalog">
        <div class="product">
            <a href="single-product"><img src="{% static 'assets/images/women-01.jpg'%}" alt="Товар 1"></a>
            <a href="single-product"><h3>Товар 1</h3></a>
            <span>50$</span>
            <button class="add-to-cart-btn"><ion-icon name="bag-add-outline"></ion-icon></button>
        </div>
        <div class="product">
            <img src="{% static 'assets/images/women-01.jpg'%}" alt="Товар 1">
            <h3>Товар 1</h3>
            <span>50$</span>
            <button class="add-to-cart-btn"><ion-icon name="bag-add-outline"></ion-icon></button>
        </div>
        <div class="product">
            <img src="{% static 'assets/images/dress1.jpg'%}" alt="Товар 1">
            <h3>Товар 1</h3>
            <span>50$</span>
            <button class="add-to-cart-btn"><ion-icon name="bag-add-outline"></ion-icon></button>
        </div>
        <div class="product">
            <img src="{% static 'assets/images/women-03.jpg'%}" alt="Товар 1">
            <h3>Товар 1</h3>
            <span>50$</span>
            <button class="add-to-cart-btn"><ion-icon name="bag-add-outline"></ion-icon></button>
        </div>
    </div>
{% endblock %}

{% block custom_css %}
<style>
.dd-menu{
    margin-top:17vh;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
}
a{
    text-decoration: none;
    color: black;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu li{
    margin-right: 10vw;
}
.dropbtn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1;
    width: 0;
    height: 2px;
    background-color: black;
    transform-origin: left;
    transition: width 0.2s ease-in-out;
}

.dropbtn:hover::after {
    width: 100%;
}

.dropdown {
    margin-right: 10px;
    position: relative;
}

.dropbtn {
    background-color: #fff;
    color: black;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown-content {
    display: none;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
}


.dropdown-content a{
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover,

.menu .dropdown:hover .dropdown-content {
    display: block;
}
.menu a {
    text-decoration: none;
    position: relative;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 80%;
    height: 1px;
    background-color: #000;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.menu a:hover::after {
    transform: translateX(-50%) scaleX(0.8);
}
.icons{
    font-size: 20px;
    margin-right: 10px;
}

.popular{
    margin: 5vh 0 0 14vw;
}

.catalog {
    margin: 2vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product img {
    max-width: 100%;
    height: 390px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-size: 14px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-to-cart-btn:hover{
    background-color: #4e555b;

}
.product:hover {
    background-color: #f5f5f5;
}
</style>
{% endblock %}