{% extends 'base.html' %}
{% load static %}
{% block menu %}
<div class="dd-menu">
        <ul class="menu">
            <li class="dropdown">
                <button class="dropbtn">Clothes</button>
                <div class="dropdown-content">
                    <a href="{% url 'women_outwear' %}"><i class="icons fa-sharp fa-light fa-shirt-long-sleeve" style="color: #000000;"></i>Outerwear</a>
                    <a href="#"><i class="icons fa-thin fa-shirt-tank-top" style="color: #000000;"></i>Shirts, tops, T-shirts</a>
                    <a href="#">Pants</a>
                    <a href="#">Shorts</a>
                    <a href="#"><i class="icons fa-thin fa-person-dress" style="color: #000000;"></i>Dresses</a>
                    <a href="#"><i class="icons fa-light fa-person-dress-simple" style="color: #000000;"></i>Skirts</a>
                </div>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Shoes</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-light fa-boot" style="color: #000000;"></i>Sneakers</a>
                    <a href="#"><i class="icons fa-sharp fa-light fa-boot-heeled" style="color: #000000;"></i>Loafers</a>
                    <a href="#"><i class="icons fa-sharp fa-regular fa-ski-boot" style="color: #000000;"></i>Keds</a>
                    <a href="#"><i class="icons fa-sharp fa-light fa-boot-heeled" style="color: #000000;"></i>Classic shoes</a>
                </div>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Accessories</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-light fa-watch"></i>Watches</a>
                    <a href="#"><i class="icons fa-light fa-ring" style="color: #000000;"></i>Rings</a>
                    <a href="#"><i class="icons fa-light fa-coin" style="color: #000000;"></i>Bracelets</a>
                    <a href="#"><i class="icons fa-light fa-glasses" style="color: #000000;"></i>Glasses</a>
                    <a href="#"><i class="icons fa-light fa-bag-shopping" style="color: #000000;"></i>Bags</a>
                </div>
            </li>

            <li class="dropdown">
                <button class="dropbtn">Perfume</button>
                <div class="dropdown-content">
                    <a href="#"><i class="icons fa-thin fa-nose" style="color: #000000;"></i>Toilet water</a>
                    <a href="#"><i class="icons fa-thin fa-nose" style="color: #000000;"></i>Сologne</a>
                    <a href="#"><i class="icons fa-thin fa-nose" style="color: #000000;"></i>Perfume</a>
                </div>
            </li>
        </ul>
</div>
{% endblock %}
{% block content %}
<hr style="color: #000; width: 80%">
{% block category %}
<h2 class="category">Popular</h2>
{% endblock %}
{% block filters %} {% endblock %}
    <div class="catalog">
        {% for product in products %}
        <div class="product">
            <a href="{% url 'product_detail' product_id=product.id%}"><img src="{{product.image.url}}" alt="{{product.name}}"></a>
            <a href="{% url 'product_detail' product_id=product.id%}"><h3>{{product.name}}</h3></a>
            <span>{{product.price}}$</span>
            <button class="add-to-cart-btn"><ion-icon name="bag-add-outline"></ion-icon></button>
        </div>
        {% empty %}
        <p style="font-size: 24px; margin: 20px 0 0 50px; font-weight: 700">No products found</p>
        {% endfor %}
    </div>
{% endblock %}
{% block custom_css %}
<style>
a{
    text-decoration: none;
    color: black;
}
.dd-menu{
    margin-top:17vh;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.menu li{
    margin-right: 10vw;
}
.dropbtn::after {
    content: '';
    position: absolute;
    left: 0;
    top: 1;
    width: 0;
    height: 2px;
    background-color: black;
    transform-origin: left;
    transition: width 0.2s ease-in-out;
}

.dropbtn:hover::after {
    width: 100%;
}

.dropdown {
    margin-right: 10px;
    position: relative;
}

.dropbtn {
    background-color: #fff;
    color: black;
    padding: 12px 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropdown-content {
    display: none;
    white-space: nowrap;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
}


.dropdown-content a{
    color: black;
    padding: 16px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover,

.menu .dropdown:hover .dropdown-content {
    display: block;
}
.menu a {
    text-decoration: none;
    position: relative;
}

.menu a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 80%;
    height: 1px;
    background-color: #000;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.2s ease-in-out;
}

.menu a:hover::after {
    transform: translateX(-50%) scaleX(0.8);
}
.icons{
    font-size: 20px;
    margin-right: 10px;
}

.category{
    margin: 5vh 0 0 14vw;
}

.catalog {
    margin: 2vh 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.product img {
    min-width: 100%;
    max-height: 400px;
}

.product h3 {
    margin: 10px 0;
}

.product p {
    font-size: 14px;
}

.add-to-cart-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #000;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-to-cart-btn:hover{
    background-color: #4e555b;

}
.product:hover {
    background-color: #f5f5f5;
}
.filters {
  margin:0 0 20px 10vw;
  padding: 10px;
  /*border: 1px solid #ccc;*/
  border-radius: 5px;
}
.filters-sorts{
    margin-right: 50px;
}
/* Стили для выпадающего списка */
select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Стили для кнопки */
.btn-submit{
  padding: 8px 12px;
  margin-left: 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Стили для кнопки при наведении */
.btn-submit:hover {
  background-color: #0056b3;
}
</style>
{% endblock %}